@if(isAddingTask){
    <app-new-task (cancel)="onCancelAddTask()" (addTask)="onAddTask($event)" [userID]="userID"/>
}
<section id="tasks"> 
    <header>
        <h2>{{name}}'s task</h2>
        <menu>
            <button (click)="onStartAddTask()">
                add task
            </button>
        </menu>
    </header>
    <ul>
        
        @for(task of getSelectedUserTasks(); track task.id){
            
            <li>
                <app-task (complete)="onCompleteTask($event)" [task]="task"/>
            </li>
        }
    </ul>
</section>